  body {
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
  }
  
  p {
    margin: 8px;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .calculation-box {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .header-text {
    color: white;
  }

  .primaryBtn {
    background-color: rgb(41, 39, 39);
    border: none;
    font-size: 22px;
    height: 60px;
    width: 60px;
    font-weight: 500;
    color: white;
    border-radius: 22px;
    flex-wrap: wrap;
  }

  .header-box {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .primaryBtn-operate {
    background-color: rgb(12, 134, 12);
  }

  .primaryBtn-operations {
    background-color: rgb(243, 148, 14);
  }

  .primaryBtn-result {
    background-color: rgb(243, 14, 14);
  }

  .clear-btn {
    font-size: 22px;
  }

  .display-text {
    font-size: 32px;
    color: white;
    margin: 0px;
  }